.scroll__container {
  max-width: 600px;
  width: 100%;
  overflow-y: scroll;
  max-height: 100vh;
}
.scroll__container::-webkit-scrollbar {
  width: 12px;
}
.scroll__container::-webkit-scrollbar-track {
  background: #2f2f37;
}

.scroll__container::-webkit-scrollbar-thumb {
  background: #8585ad;
  border: 3px solid #2f2f37;
  border-radius: 6px;
}

.scroll__container_user {
  max-width: 850px;
  width: 100%;
  overflow-y: scroll;
  max-height: 100vh;
}
.scroll__container_user::-webkit-scrollbar {
  width: 12px;
}
.scroll__container_user::-webkit-scrollbar-track {
  background: #2f2f37;
}

.scroll__container_user::-webkit-scrollbar-thumb {
  background: #8585ad;
  border: 3px solid #2f2f37;
  border-radius: 6px;
}