.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #131316;
  color: #f2f2f3;
}


.main {
  width: 1240px;
  margin: 0 auto;
  padding-left: 1px;
  display: flex;
  gap: 40px;
}
.title {
  width: 1240px;
  margin: 0 auto 20px;
}

