.form_wrapper {
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login_redirect {
    display: flex;
    align-items: center;
}
.profile_wrapper {
    display: flex;

    justify-content: flex-start;
    max-width: 1240px;
    margin: 120px auto 0;
}
.profile_list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    list-style-type: none;
    padding: 0;
    width: 320px;
    margin: 10px 60px 0 0;
}
.profile_listEl {
    display: flex;
    align-items: center;
    cursor: pointer;
}
