.cards {
    max-width: 600px;
    display: flex;
    flex-direction: column;

}
.scroll__container {
    overflow-y: scroll;
    max-height: 100vh;
}
.scroll__container::-webkit-scrollbar {
    width: 12px;
}
.scroll__container::-webkit-scrollbar-track {
    background: #2f2f37;
}

.scroll__container::-webkit-scrollbar-thumb {
    background: #8585ad;
    border: 3px solid #2f2f37;
    border-radius: 6px;
}