.header {
    max-width: 1920px;
    width: 100%;
    background-color: var(--background);
    margin: 16px auto 0;
}
.nav {
    max-width: 1240px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.link {
    text-decoration: none;
    color: var(--text-inactive-color);
    display: flex;
    align-items: center;
    gap: 8px;
}
.link_active {
    color: var(--text-primary-color);
    text-decoration: none;
}
.link__wrapper {
    display: flex;
    gap: 20px;
}
.header__logo {
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.header__link_right {
    margin-left: auto;
}
